<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T&T Movies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Wed_Movie.styles.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
    <link href="~/css/card.css" rel="stylesheet" />
    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="z-index: 9999;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">T&T Movies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Danh sách phim</a>
                        </li>
                        <form id="form_Search" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <div class="input-group">
                                <input id="search" class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnSearch" />
                                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </ul>
                </div>
                <div>
                    @{
                        string? showModal = ViewData["ShowModal"] as string;
                    }
                    <partial name="_LoginPartial" model="showModal" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loginregisterModal">
                        <ul class="nav nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <button class="nav-link active" id="loginTab" data-bs-toggle="tab" href="#loginForm" onclick="handleClick('login')">Đăng Nhập</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="registerTab" data-bs-toggle="tab" href="#registerForm" onclick="handleClick('register')">Đăng Ký</button>
                            </li>
                        </ul>
                        <div class="tab-content mt-3">
                            <!-- Login Form -->
                            <div class="tab-pane fade show active" id="loginForm" style="max-height:400px;">
                            </div>
                            <!-- Register Form -->
                            <div class="tab-pane fade" id="registerForm" style="max-height:400px;">
                            </div>
                        </div>
                    </div>
                    <div id="processemailModal">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    <script src="~/js/card.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
