@using Microsoft.AspNetCore.Identity
@using Wed_Movie.Entities;

@model  string
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var url = Context.Request.GetDisplayUrl();
}
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="logout" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
            <button onclick="getform()" class="nav-link text-dark border-0 rounded-circle" id="login" data-bs-toggle="modal" data-bs-target="#accountModal" style="background-color:#0b5ed7"><span class="icon">A</span></button>
    </li>
}
</ul>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var model = @Html.Raw(Model != null ? Json.Serialize(Model) : "null");
       
        if(model == null){

        }
        else if (model == "ProcessEmail") {
            document.getElementById('loginregisterModal').classList.add('d-none');
            document.getElementById('processemailModal').classList.remove('d-none');
            $.get('/Account/ProcessEmailConfirm', {}, function (data) {
                // Đặt nội dung Partial View vào một phần tử trên trang
                $('#processemailModal').html(data);
                $('#accountModal').modal('show');
            });
        }
    });

    function getform(){
        document.getElementById('loginregisterModal').classList.remove('d-none');
        document.getElementById('processemailModal').classList.add('d-none');
        $('#loginTab').click();
        $.get('/Account/Login', {}, function (data) {
            // Đặt nội dung Partial View vào một phần tử trên trang
            $('#loginForm').html(data);
            $('#registerForm').html("");
        });
    }

    function handleClick(tab) {
        if (tab === 'login') {
            $.get('/Account/Login', {}, function (data) {
                // Đặt nội dung Partial View vào một phần tử trên trang
                $('#loginForm').html(data);
                //$('#registerForm').html("");
            });
        } else if (tab === 'register') {
            $.get('/Account/Register', {}, function (data) {
                // Đặt nội dung Partial View vào một phần tử trên trang
                $('#registerForm').html(data);
                // $('#loginForm').html("");
            });
        }
    }

    
</script>

       