@model Wed_Movie.DAO.HangDAO
@{
    ViewData["Title"] = "Thể Loại";
}


<div class="col-sm-2">
    <button id="add_Hang" type="button" data-bs-toggle="modal" data-bs-target="#modal_FormHang" class="my-3 p-2 custom-btn block-animation-button"><span>Chọn!</span><span>Thêm Hãng Phim</span></button>
</div>

<table id="table_hang" class="custom-table" cellspacing="0" cellpadding="0" style="width:100%; table-layout:auto">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="dsHang">
    </tbody>
</table>




<!-- Modal -->
<div class="modal fade" tabindex="-1" id="modal_FormHang" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formTitel_Hang"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="" id="formValid_Hang">
                    <input asp-for="Id" type="hidden" id="Id" value="" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="custom-btn block-animation-button custom-gradient-dark" data-bs-dismiss="modal"><span>Chọn!</span><span>Đóng</span></button>
                        <button id="btnSubmit" type="submit" class="custom-btn block-animation-button"><span>Chọn!</span><span>Xác Nhận</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            GetDsHang();
            $('#modal_FormHang').on('hidden.bs.modal', function (e) {
                $("#Id").val("");
                document.getElementById('formValid_Hang').reset();
            });
        });

        //Lấy danh sách thể loại
        function GetDsHang(search) {
            $.ajax({
                url: '/Admin/Hang/GetDsHang',
                type: 'post',
                data: {
                    search: search,
                },
                success: function (data) {
                    if (data.code == 200) {
                        if ($.fn.DataTable.isDataTable('#table_hang')) {
                            $('#table_hang').DataTable().destroy();
                        }
                        $("#table_hang tbody").empty();
                        $.each(data.dsHang, function (k, v) {
                            var str = '<tr class="text-center" id="' + v.id + '">';
                            str += "<td>" + v.name + "</td>";
                            str += '<td>';
                            str += '<span>';
                            str += '<button type="button" class="custom-btn block-animation-button custom-gradient-yellow" name="Update" data-bs-toggle="modal" data-bs-target="#modal_FormHang"><span>Chọn!</span><span>Cập Nhật</span></button>';
                            str += '<button class="custom-btn block-animation-button custom-gradient-red" name="Delete"><span>Chọn!</span><span>Xóa</span></button>';
                            str += '</span>';
                            str += "</td>";
                            str += "</tr>";

                            $("#table_hang tbody").append(str);
                        });
                        if (!$.fn.dataTable.isDataTable('#table_hang')) {
                            // Nếu DataTable chưa được khởi tạo, thực hiện khởi tạo
                            $("#table_hang").DataTable({
                            searching: false,
                            "columns": [
                                null, // Cột 1 - vô hiệu hóa sắp xếp
                                { "orderable": false }, // Các cột khác - mặc định cho sắp xếp
                            ]
                            });
                        }
                        
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        };
        //Gọi form nhập thể loại
        $("#add_Hang").click(function () {
            document.getElementById('formTitel_Hang').innerText = "Thêm Hãng Phim";
            $("#modal_FormHang").modal();
        });


        //Xóa Dữ Liệu Thể Loại
        $(document).on(`click`, "button[name=Delete]", function () {
            var idHang = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/Admin/Hang/DeleteHang',
                type: 'post',
                data: {
                    id: idHang,
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.msg);
                        GetDsHang();
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        });

        //Lấy Dữ Liệu Thể Loại
        $(document).on(`click`, "button[name=Update]", function () {
            var nameAction = "Update";
            var nameHeader = "Cập Nhật Hãng Phim";
            var idHang = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/Admin/Hang/GetHang',
                type: 'get',
                data: {
                    id: idHang,
                },
                success: function (data) {
                    if (data.code == 200) {
                        console.log(data);
                        $("#Name").val(data.hang.name);
                        $("#Id").val(idHang);
                        document.getElementById('formTitel_Hang').innerText = nameHeader;
                        $("#modal_FormHang").modal();
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        });


        //Nghe Sự Kiện
        document.addEventListener('DOMContentLoaded', (event) => {

            //Tìm Kiếm
            document.getElementById("search").addEventListener("submit", function (e) {
                e.preventDefault();
                GetDsHang($("#search").val());
            });
            document.getElementById("search").addEventListener("keyup", function (e) {
                GetDsHang($("#search").val());
            });

            //Thêm Và Cập Thê Loai
            document.getElementById("formValid_Hang").addEventListener("submit", function (e) {
                e.preventDefault(); // Cancel the default action
                var nameHang = $("#Name").val();
                var idHang = $("#Id").val();
                if (idHang.length > 0) {
                    $.ajax({
                        url: '/Admin/Hang/UpdateHang',
                        type: 'post',
                        data: {
                            id: idHang,
                            name: nameHang,
                        },
                        success: function (data) {
                            if (data.code == 200) {
                                alert(data.msg);
                                GetDsHang();
                            }
                            else if (data.code == 500) {
                                alert(data.msg);
                            }
                            $("#Name").val("");
                            $("#Id").val("");
                            $(".close").click();
                        }
                    });
                }
                else if(nameHang.length > 0){
                    $.ajax({
                        url: '/Admin/Hang/AddHang',
                        type: 'post',
                        data: {
                            name: nameHang,
                        },
                        success: function (data) {
                            console.log(data);
                            if (data.code == 200) {
                                alert(data.msg);
                                GetDsHang();
                            }
                            else if (data.code == 500) {
                                alert(data.msg);
                            }
                            $("#Name").val("");
                        }
                    });
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
