@model Wed_Movie.DAO.PhimDAO
@{
    ViewData["Title"] = "Phim";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="col-sm-2">
    <button id="btn_Add" type="button" class="my-3 p-2 custom-btn block-animation-button" data-bs-toggle="modal" data-bs-target="#modal_Form"><span>Chọn!</span><span>Thêm Thể Loại</span></button>
</div>
<table id="table_phim" class="custom-table" cellspacing="0" cellpadding="0" style="width:100%; table-layout:auto">
    <thead>
        <tr >
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="">
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" tabindex="-1" id="modal_Form">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="form_Titel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form id="form_Valid">
                    <input asp-for="Id" type="hidden" id="Id" value="" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="custom-btn block-animation-button custom-gradient-dark" data-bs-dismiss="modal"><span style="background: linear-gradient(0deg, #6c757d 0%, #e9ecef 100%);">Chọn!</span><span style="background: linear-gradient(0deg, #6c757d 0%, #e9ecef 100%);">Đóng</span></button>
                        <button id="btnSubmit" type="submit" class="custom-btn block-animation-button"><span>Chọn!</span><span>Xác Nhận</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            GetDsPhim();

            $('#modal_Form').on('hidden.bs.modal', function (e) {
                $("#Id").val("");
                document.getElementById('form_Valid').reset();
            });
        });
        function GetDsPhim(search) {
            $.ajax({
                url: '/Admin/Phim/GetDsPhim',
                type: 'get',
                data: {
                    search: search,
                },
                success: function (data) {
                    if (data.code == 200) {
                        if ($.fn.DataTable.isDataTable('#table_phim')) {
                            $('#table_phim').DataTable().destroy();
                        }
                        $("#table_phim tbody").empty();
                        $.each(data.dsDienVien, function (k, v) {
                            var str = '<tr class="text-center" id="' + v.id + '">';
                            str += "<td>" + v.name + "</td>";
                            str += '<td >';
                            str += '<span>';
                            str += '<button type="button" class="custom-btn block-animation-button custom-gradient-yellow" name="Update" data-bs-toggle="modal" data-bs-target="#modal_Form"><span>Chọn!</span><span>Cập Nhật</span></button>&nbsp';
                            str += '<button class="custom-btn block-animation-button custom-gradient-red" name="Delete"><span>Chọn!</span><span>Xóa</span></button>';
                            str += '</span>';
                            str += "</td>";
                            str += "</tr>";

                            $("#table_phim tbody").append(str);
                        });
                        if (!$.fn.dataTable.isDataTable('#table_phim')) {
                            // Nếu DataTable chưa được khởi tạo, thực hiện khởi tạo
                            $('#table_phim').DataTable({
                                searching: false,
                                "columns": [
                                    null, // Cột 1 - vô hiệu hóa sắp xếp
                                    { "orderable": false }, // Các cột khác - mặc định cho sắp xếp
                                ],
                            });
                        }
                        
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        };

        $(document).on(`click`, "button[name=Update]", function () {
            var nameAction = "Update";
            var nameHeader = "Cập Nhật Hãng Phim";
            var idPhim = $(this).closest('tr').attr('id');

            $.ajax({
                url: '/Admin/Phim/GetPhim',
                type: 'get',
                data: {
                    id: idPhim,
                },
                success: function (data) {
                    if (data.code == 200) {
                        console.log(data);
                        $("#Name").val(data.phim.name);
                        $("#Id").val(idPhim);
                        document.getElementById('form_Titel').innerText = nameHeader;
                        $("#modal_Form").modal();
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        });

        $(document).on(`click`, "button[name=Delete]", function () {
            var idPhim = $(this).closest('tr').attr('id');
            $.ajax({
                url: '/Admin/Phim/DeletePhim',
                type: 'post',
                data: {
                    id: idPhim,
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert(data.msg);
                        GetDsPhim();
                    }
                    else if (data.code == 500) {
                        alert(data.msg);
                    }
                }
            });
        });
        //Nghe Sự Kiện
        document.addEventListener('DOMContentLoaded', (event) => {

            document.getElementById("form_Search").addEventListener("submit", function (e) {
                e.preventDefault();
                GetDsPhim($("#search").val());
            });
            document.getElementById("form_Search").addEventListener("keyup", function (e) {
                GetDsPhim($("#search").val());
            });

            //Gọi form nhập thể loại
            $("#btn_Add").click(function () {
                document.getElementById('form_Titel').innerText = "Thêm Phim";
                $("#modal_Form").modal();
            });

            //Thêm Và Cập Nhật
            document.getElementById("form_Valid").addEventListener("submit", function (e) {
                e.preventDefault(); // Cancel the default action

                var formData = new FormData($(this)[0]);
                var id = $("#Id").val();
                if (id.length > 0) {
                    $.ajax({
                        url: '/Admin/Phim/UpdatePhim',
                        type: 'post',
                        data: formData,
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.code == 200) {
                                alert(data.msg);
                                GetDsPhim();
                            }
                            else if (data.code == 500) {
                                alert(data.msg);
                            }
                            document.getElementById('form_Valid').reset();
                            $(".close").click();
                        }
                    });
                }
                else{
                    $.ajax({
                    url: '/Admin/Phim/AddPhim',
                    type: 'post',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if(data.code == 200){
                            alert(data.msg);
                            GetDsPhim();
                        }
                        else{
                            alert(data.msg);
                        }
                    }
                });
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}