<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
   
</head>

<body style="background-color:#ffffff;">
    <div style="border: 1px solid #ccc; padding: 20px; text-align: center; max-width: 400px; margin: 0 auto;">
        <h1 style="color: #333;">Xác thực người dùng </h1>
        <p style="font-size:20px ;margin-top: -10px;">Xin chào,</p>
        <p style="font-size:20px ;margin-top: -10px;">Cảm ơn bạn đã đăng ký tài khoản. Vui lòng nhấp vào liên kết bên dưới để xác thực tài khoản của bạn:</p>
        <a style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-align: center; text-decoration: none; cursor: pointer; border-radius: 4px;" href="{0}">Xác thực tài khoản</a>
        <p style="font-size:20px ;margin-top: -10px;">Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
        <p style="font-size:20px ;margin-top: -10px;">Trân trọng,</p>
        <p style="font-size:20px ;margin-top: -10px;">Đội ngũ của chúng tôi</p>
    </div>
</body>

</html>