
<style>
    .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #ff6a6a;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #e55b5b;
        }

</style>
<div  style="align-items: center;">
    <h1>Email hết hạn</h1>
    <p>Rất tiếc, email của bạn đã hết hạn. Vui lòng liên hệ đội hỗ trợ của chúng tôi để được trợ giúp thêm.</p>
    <a href="#" class="button">Liên hệ hỗ trợ</a>
</div>