@{
    ViewData["Title"] = "Home Page";
    var asdsad = ViewBag.dasdsa;
}
@using Microsoft.AspNetCore.Http.Extensions
<div  class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="load()">dasdasd</button>
    <div id="root"></div>
</div>
