<a>a</a>



<form asp-action="ButtonHtml" asp-controller="Home">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary btn-block mb-4 w-100" />
    </div>

</form>



